@import "style.scss";
@media screen and (max-width: 1000px) {
  html {
    body {
      header {
        width: 100%;
        position: relative;
        height: auto;
        padding: 40px 0;
        hr.line {
          display: none;
        }
        img {
          height: 40px;
        }
        .row {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          .col {
            margin: 0;
            &.hamburger {
              display: flex;
              button {
                border-radius: 10px;
                width: 45px;
                height: 45px;
                @include flexcol;
                justify-content: center;
                &.animate {
                  span:nth-of-type(1) {
                    transform: translateY(4px) rotate(45deg);
                  }
                  span:nth-of-type(2) {
                    transform: translateX(-100px);
                    opacity: 0;
                  }
                  span:nth-of-type(3) {
                    transform: translateY(-4px) rotate(-45deg);
                  }
                }
                span {
                  display: block;
                  width: 78%;
                  height: 4px;
                  border-radius: 5px;
                  background-color: $black;
                  transition: 0.4s ease-in-out;
                  &:nth-of-type(1) {
                    transform: translateY(-5px);
                  }
                  &:nth-of-type(3) {
                    transform: translateY(5px);
                  }
                }
              }
            }
            &.navigation {
              position: fixed;
              @include flexcol();
              justify-content: center;
              background-color: $blue;
              top: 0;
              left: 0;
              height: 100%;
              width: 300px;
              transform: translateX(-300px);
              @include transition();
              box-shadow: 0 0 4px $black;
              &.visible {
                transform: translateX(0);
              }
              .closeNav {
                display: flex;
              }
            }
            p {
              color: $white;
              font-size: 1.04rem;
              margin: 0;
              span {
                font-size: 1.03rem;
                color: $black;
              }
            }
          }
        }
      }
      main {
        width: 100%;
        left: 0;
        #about-me {
          .wrapper {
            @include flexcol();
            .col {
              &.image-bio {
                margin: 0 0 40px 0;
                p {
                  max-width: 60%;
                }
              }
              &.info {
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  html {
    body {
      main {
        #home {
          .banner {
            .content {
              width: 480px;
              h2 {
                font-size: 2rem;
              }
              h3 {
                font-size: 1.72rem;
              }
              h3 {
                font-size: 1.52rem;
              }
              a {
                font-size: 1.03rem;
                padding: 4px 10px;
              }
            }
          }
        }
        #projects {
          .wrapper {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  html {
    body {
      main {
        .wrapper {
          width: 83%;
        }
        #services {
          .wrapper {
            grid-template-columns: 1fr;
          }
        }
        #skills {
          .wrapper {
            .skill {
              width: 90%;
            }
          }
        }
        #contact {
          .wrapper {
            form {
              width: 100%;
              .form-field {
                width: 95%;
              }
            }
          }
        }
        #contact,
        #skills,
        #projects,
        #services,
        #about-me {
          h3 {
            font-size: 2.3rem;
          }
          hr.line {
            width: 40%;
          }
          .wrapper {
            form {
              h4 {
                font-size: 2rem;
              }
              hr.line {
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  html {
    body {
      main {
        #home {
          .banner {
            @include flexbox();
            .content {
              top: auto;
              right: auto;
              width: 340px;
              h2 {
                font-size: 1.56rem;
              }
              h3 {
                font-size: 1.42rem;
              }
              h3 {
                font-size: 1.26rem;
              }
              a {
                font-size: 1rem;
                padding: 4px 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  html {
    body {
      main {
        .wrapper {
          width: 89%;
        }
        #about-me {
          h3 {
            font-size: 2rem;
          }
          .wrapper {
            @include flexcol();
            .col {
              &.image-bio {
                img {
                  height: 140px;
                }
                p {
                  max-width: 80%;
                }
              }
              &.info {
                h6 {
                  font-size: 1rem;
                }
                p {
                  font-size: 1.07rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  html {
    body {
      header {
        .row {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 20px;
          .col {
            p {
              font-size: 1rem;
              span {
                font-size: 1rem;
              }
            }
          }
        }
      }
      main {
        #services {
          h3 {
            font-size: 2rem;
          }
          .wrapper {
            .service {
              img {
                height: 80px;
              }
              h5 {
                font-size: 1.3rem;
              }
              p {
                font-size: 0.95rem;
              }
            }
          }
        }
        #contact,
        #skills,
        #projects,
        #services,
        #about-me {
          h3 {
            font-size: 2rem;
          }
          hr.line {
            width: 50%;
          }
          .wrapper {
            form {
              h4 {
                font-size: 1.8rem;
              }
              hr.line {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  html {
    body {
      main {
        #home {
          .banner {
            .content {
              width: 300px;
              h2 {
                font-size: 1.5rem;
              }
              h3 {
                font-size: 1.22rem;
              }
              h4 {
                font-size: 1.12rem;
              }
              a {
                font-size: 0.89rem;
                padding: 4px 10px;
              }
            }
          }
        }
      }
    }
  }
}
